<div class="layout">

  <!-- SIDEBAR -->
  <div class="sidebar">

    <div class="logo">
      <span class="material-symbols-outlined logo-icon"></span>
      <h2>Cunicultura</h2>
    </div>

    <div class="menu">

      <a routerLink="/dashboard">
        <span class="material-symbols-outlined"></span>
        Dashboard
      </a>

      <a routerLink="/granjas">
        <span class="material-symbols-outlined"></span>
        Granjas
      </a>

      <a routerLink="/evaluaciones">
        <span class="material-symbols-outlined"></span>
        Evaluaciones
      </a>

      <a class="active" routerLink="/resultados">
        <span class="material-symbols-outlined"></span>
        Resultados
      </a>

      <a routerLink="/configuracion">
        <span class="material-symbols-outlined"></span>
        Sistema
      </a>

    </div>

  </div>

  <!-- MAIN -->
  <div class="main">

    <!-- GRID -->
    <div class="grid">

      <!-- RESULTADO -->
      <div class="card">

        <div class="result-container">

          <div class="circle"></div>

          <div>

            <h2>Resultado de Evaluación</h2>

            <p>Estado: Excelente</p>

            <p>
              Recomendación:
              Ajustar temperatura
            </p>

          </div>

        </div>

      </div>

      <!-- INSIGHT -->
      <div class="insight">

        <h3>Diagnóstico IA</h3>

        <p>
          Alta humedad detectada.
          Riesgo respiratorio.
        </p>

      </div>

    </div>

    <!-- CATEGORIAS -->
    <h2 class="section-title">
      Rendimiento por categoría
    </h2>

    <div class="grid-3">

      <div class="card">

        <h3>Recursos</h3>

        <p>92%</p>

        <div class="bar">
          <div
            class="fill"
            style="width:92%">
          </div>
        </div>

      </div>

      <div class="card">

        <h3>Animal</h3>

        <p>78%</p>

        <div class="bar">
          <div
            class="fill"
            style="width:78%">
          </div>
        </div>

      </div>

      <div class="card">

        <h3>Manejo</h3>

        <p>85%</p>

        <div class="bar">
          <div
            class="fill"
            style="width:85%">
          </div>
        </div>

      </div>

    </div>

    <!-- RECOMENDACIONES -->
    <h2 class="section-title">
      Recomendaciones
    </h2>

    <div class="card">

      <p>✔ Mejorar ventilación</p>

      <p>✔ Aumentar fibra en dieta</p>

    </div>

    <!-- TABLA -->
    <h2 class="section-title">
      Plan de acción
    </h2>

    <div class="table-container">

      <table>

        <tr>
          <th>Tarea</th>
          <th>Responsable</th>
          <th>Prioridad</th>
        </tr>

        <tr>
          <td>Revisar sensores</td>
          <td>MS</td>
          <td>Urgente</td>
        </tr>

      </table>

    </div>

  </div>

</div>