<mat-toolbar class="bg-primary text-white d-flex justify-content-between align-items-center p-3">
    <div class="d-flex align-items-center gap-2">
        <button mat-icon-button aria-label="icono menú" *ngIf="sidenav.mode == 'over'" (click)="sidenav.toggle()"
            aria-label="Alternar menú">
            <i class="bi me-2 text-white fs-5" [ngClass]="sidenav.opened ? 'bi-eye-slash' : 'bi-list'"></i>
        </button>

        <span class="fs-6 fw-bold">Bienestar Animal v.1</span>
    </div>
    <button mat-icon-button aria-label="logout" (click)="logout()">
        <i class="bi bi-box-arrow-right fs-5 text-white"></i>
    </button>
    <!--<button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>-->
</mat-toolbar>

<mat-sidenav-container class="d-flex">
    <mat-sidenav #sidenav mode="side" class="bg-light p-4" style="max-width: 300px;">
        <div class="user-info d-flex flex-column align-items-center mb-4">
            <div class="user-details text-center">
                <img src="https://t3.ftcdn.net/jpg/02/99/04/20/360_F_299042079_vGBD7wIlSeNl7vOevWHiL93G4koMM967.jpg"
                    alt="Foto de perfil" class="user-image rounded-circle mb-3" style="width: 80px; height: 80px;">
                <p class="user-name fw-bold">Usuario Prueba</p>
            </div>
        </div>

        <nav class="nav flex-column">
            <a class="nav-link d-flex align-items-center text-dark fw-bold" routerLink="inicio"
                (click)="sidenav.mode=='over' && sidenav.toggle()">
                <i class="bi bi-person me-2"></i> Inicio
            </a>

        </nav>
    </mat-sidenav>

    <mat-sidenav-content class="flex-grow-1">
        <div class="content p-4">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>