<div class="layout">

  <!-- SIDEBAR -->
  <div class="sidebar">

    <div class="logo">
      <span class="material-symbols-outlined"></span>
      <h2>Cunicultura</h2>
    </div>

    <a routerLink="/evaluaciones" class="back-btn">

      <span class="material-symbols-outlined">
        arrow_back
      </span>

      Regresar

    </a>

  </div>

  <!-- MAIN -->
  <div class="main">

    <div class="header">

      <h1>Gestión del predio</h1>

      <p>
        Evaluación del manejo sanitario y administrativo
      </p>

    </div>

    <!-- SELECT -->
    <div class="finca-bar">

      <div class="finca-select">

        <label>Elegir finca para el registro</label>

        <select>

          <option>Seleccionar finca</option>
          <option>Finca El Paraíso</option>
          <option>Granja Los Conejos</option>

        </select>

      </div>

    </div>

    <!-- GRID -->
    <div class="grid">

      <!-- CARD -->
      <div class="card">

        <h3>Mortalidad de gazapos</h3>

        <div class="options">

          <div class="option"
          (click)="seleccionar($event, 'mortalidad_gazapos')">
            Baja
          </div>

          <div class="option"
          (click)="seleccionar($event, 'mortalidad_gazapos')">
            Media
          </div>

          <div class="option"
          (click)="seleccionar($event, 'mortalidad_gazapos')">
            Alta
          </div>

        </div>

      </div>

      <!-- CARD -->
      <div class="card">

        <h3>Mortalidad en engorde</h3>

        <div class="options">

          <div class="option"
          (click)="seleccionar($event, 'mortalidad_engorde')">
            Baja
          </div>

          <div class="option"
          (click)="seleccionar($event, 'mortalidad_engorde' )">
            Media
          </div>

          <div class="option"
          (click)="seleccionar($event, 'mortalidad_engorde')">
            Alta
          </div>

        </div>

      </div>

      <!-- CARD -->
      <div class="card">

        <h3>Mortalidad reproductores</h3>

        <div class="options">

          <div class="option"
          (click)="seleccionar($event, 'mortalidad_reproductores')">
            Baja
          </div>

          <div class="option"
          (click)="seleccionar($event, 'mortalidad_reproductores')">
            Media
          </div>

          <div class="option"
          (click)="seleccionar($event, 'mortalidad_reproductores')">
            Alta
          </div>

        </div>

      </div>

      <!-- CARD -->
      <div class="card">

        <h3>Manejo del predio</h3>

        <div class="options">

          <div class="option"
          (click)="seleccionar($event, 'manejo_predio')">
            Completo
          </div>

          <div class="option"
          (click)="seleccionar($event, 'manejo_predio')">
            Parcial
          </div>

          <div class="option"
          (click)="seleccionar($event, 'manejo_predio')">
            Básico
          </div>

          <div class="option"
          (click)="seleccionar($event, 'manejo_predio')">
            No tiene
          </div>

        </div>

      </div>

      <!-- CARD -->
      <div class="card">

        <h3>Plan sanitario</h3>

        <div class="options">

          <div class="option"
          (click)="seleccionar($event, 'plan_sanitario')">
            Completo
          </div>

          <div class="option"
          (click)="seleccionar($event, 'plan_sanitario')">
            Parcial
          </div>

          <div class="option"
          (click)="seleccionar($event, 'plan_sanitario')">
            Básico
          </div>

          <div class="option"
          (click)="seleccionar($event, 'plan_sanitario')">
            No tiene
          </div>

        </div>

      </div>

      <!-- CARD -->
      <div class="card">

        <h3>Medicamentos legales</h3>

        <div class="options">

          <div class="option"
          (click)="seleccionar($event, 'medicamentos_legales')">
            Sí cumple
          </div>

          <div class="option"
          (click)="seleccionar($event, 'medicamentos_legales')">
            No cumple
          </div>

        </div>

      </div>

      <!-- CARD -->
      <div class="card">

        <h3>Medicamentos vencidos</h3>

        <div class="options">

          <div class="option"
          (click)="seleccionar($event, 'medicamentos_vencidos')">
            No hay
          </div>

          <div class="option"
          (click)="seleccionar($event, 'medicamentos_vencidos')">
            Sí hay
          </div>

        </div>

      </div>

      <!-- CARD -->
      <div class="card">

        <h3>Tratamientos veterinarios</h3>

        <div class="options">

          <div class="option"
          (click)="seleccionar($event, 'tratamientos_veterinarios')">
            Siempre
          </div>

          <div class="option"
          (click)="seleccionar($event, 'tratamientos_veterinarios')">
            A veces
          </div>

          <div class="option"
          (click)="seleccionar($event, 'tratamientos_veterinarios')">
            Nunca
          </div>

        </div>

      </div>

      <!-- CARD -->
      <div class="card">

        <h3>Registros veterinarios</h3>

        <div class="options">

          <div class="option"
          (click)="seleccionar($event, 'registros_veterinarios')">
            Completos
          </div>

          <div class="option"
          (click)="seleccionar($event, 'registros_veterinarios')">
            Parciales
          </div>

          <div class="option"
          (click)="seleccionar($event, 'registros_veterinarios')">
            No tienen
          </div>

        </div>

      </div>

    </div>

    <!-- EXTRA -->
    <div class="extra">

      <textarea
[(ngModel)]="observaciones"
placeholder="Observaciones del técnico...">
</textarea>

      <!-- SUBIR -->
      <div class="upload-container">

        <label for="fileUpload" class="upload-box">

          <span class="material-symbols-outlined icon">
            cloud_upload
          </span>

          <span class="upload-title">
            Subir fotos
          </span>

          <span class="upload-subtitle">
            JPG, PNG
          </span>

        </label>

        <input
          type="file"
          id="fileUpload"
          multiple
          hidden
          (change)="subirFotos($event)"
        >

        <div
          class="preview"
          *ngIf="imagenes.length > 0">

          <div
            class="file-name"
            *ngFor="let img of imagenes">

            {{ img }}

          </div>

        </div>

      </div>

    </div>

    <!-- ACTIONS -->
    <div class="actions">

      <button
      routerLink="/evaluaciones/salud"
      class="btn secondary">

        Anterior

      </button>

      <button
class="btn primary"
(click)="guardar()">

  Guardar y finalizar

</button>

    </div>

  </div>

</div>