  <div class="layout">

  <!-- SIDEBAR -->
  <div class="sidebar">

    <div class="logo">
      <span class="material-symbols-outlined logo-icon"></span>
      <h2>Cunicultura</h2>
    </div>

    <div class="menu">

      <a routerLink="/dashboard">
        <span class="material-symbols-outlined"></span>
        Dashboard
      </a>

      <a class="active" routerLink="/granjas">
        <span class="material-symbols-outlined"></span>
        Granjas
      </a>

      <a routerLink="/evaluaciones">
        <span class="material-symbols-outlined"></span>
        Evaluaciones
      </a>

      <a routerLink="/resultados">
        <span class="material-symbols-outlined"></span>
        Resultados
      </a>

      <a routerLink="/configuracion">
        <span class="material-symbols-outlined"></span>
        Sistema
      </a>

    </div>
  </div>

  <!-- MAIN -->
  <div class="main">

    <!-- HEADER -->
    <div class="header">

      <div>
        <h1>Granjas</h1>
        <p>
          Gestión de producción, salud y población de conejos.
        </p>
      </div>

      <div class="search">

        <input
          type="text"
          placeholder="Buscar granjas..."
        >

        <button class="btn">
          + Agregar
        </button>

      </div>

    </div>

    <!-- GRID -->
    <div class="grid">

      <!-- CARD PRINCIPAL -->
      <div class="card-big">

        <h2>Granja Principal</h2>

        <p>
          Especializada en producción intensiva.
        </p>

        <div class="stats">

          <div class="stat">
            <small>Población</small>
            <h3>1248</h3>
          </div>

          <div class="stat">
            <small>Producción</small>
            <h3>+12%</h3>
          </div>

          <div class="stat">
            <small>Salud</small>
            <h3>98%</h3>
          </div>

        </div>

        <img
          class="img"
          src="https://picsum.photos/600/300"
          alt="granja"
        >

      </div>

      <!-- INSIGHT -->
      <div class="insight">

        <h3>Insight</h3>

        <p>
          Aumentó la población este mes. Expandir área.
        </p>

      </div>

    </div>

    <!-- LISTA -->
    <div class="list-grid">

      <div class="card">

        <h3>Granja Norte</h3>

        <div class="mini-grid">
          <div class="mini">42</div>
          <div class="mini">215</div>
          <div class="mini">186</div>
        </div>

      </div>

      <div class="card">

        <h3>Granja Sur</h3>

        <div class="mini-grid">
          <div class="mini">12</div>
          <div class="mini">58</div>
          <div class="mini">44</div>
        </div>

      </div>

      <div class="card">

        <h3>Granja Oeste</h3>

        <div class="mini-grid">
          <div class="mini">88</div>
          <div class="mini">412</div>
          <div class="mini">390</div>
        </div>

      </div>

    </div>

  </div>

</div>