<div class="selector-page">

  <div class="overlay"></div>

  <div class="selector-container">

    <h1>Bienvenido</h1>

    <p>
      Selecciona el módulo al que deseas ingresar
    </p>

    <div class="cards">

      <!-- DASHBOARD -->
      <div class="option-card" routerLink="/dashboard">

        <span class="material-symbols-outlined icon">
          dashboard
        </span>

        <h2>Panel Administrativo</h2>

        <p>
          Accede al dashboard, resultados,
          granjas y configuración del sistema.
        </p>

      </div>

      <!-- EVALUACIONES -->
      <div class="option-card" routerLink="/evaluaciones">

        <span class="material-symbols-outlined icon">
          assignment
        </span>

        <h2>Evaluaciones</h2>

        <p>
          Registrar fincas, realizar evaluaciones
          y gestionar bienestar animal.
        </p>

      </div>

    </div>

  </div>

</div>